# Pinterest API access token
PINTEREST_TOKEN=


# Your Telegram bot token
TELEGRAM_TOKEN=


# Your Telegram channel ID
CHANNEL_ID=


# User ID
USERNAME_PINTEREST=


# Interval: minute/hour/day of month/month/day of week
SCHEDULE_INTERVAL=0 * * * *   