
# Интервал:  минута/час/день месяца/месяц/день недели
SCHEDULE_INTERVAL=0 * * * *   


# TELEGRAM

# Токен вашего Telegram-бота
TELEGRAM_TOKEN=

# ID вашего Telegram-канала
TELEGRAM_CHANNEL_ID=-


# PINTEREST

#  ID Pinterest доски
PINTEREST_BOARD_ID=

# ID пользователя
PINTEREST_USER_ID=

# При true проходит по всем доскам пользователя
SPECIFIC_BOARD_MODE=false

# Токен доступа к Pinterest API (тот который на странице разработчика называеться маркером доступа)
PINTEREST_TOKEN=

# Ваш client_id (Идентификатор приложения)
PINTEREST_CLIENT_ID=

# Ваш client_secret (Секретный ключ приложения)
PINTEREST_CLIENT_SECRET=

# Ваш код авторизации
PINTEREST_AUTH_CODE=

# Ваш redirect_uri
PINTEREST_REDIRECT_URI=

# refresh Token для пинтерест
PINTEREST_REFRESH_TOKEN=