# Токен доступа к Pinterest API (тот который на странице разработчика называеться маркером доступа)
PINTEREST_TOKEN=


# Токен вашего Telegram-бота
TELEGRAM_TOKEN=


# ID вашего Telegram-канала
CHANNEL_ID=


# ID пользователя
USERNAME_PINTEREST=


# Интервал:  минута/час/день месяца/месяц/день недели
SCHEDULE_INTERVAL=0 * * * *   